/* div {
    margin: 0;
    width: 200px;
    height: 200px;
}
.div html-icon {
    float: left;
    font-size: 100px;
}
.div header-title {
    float: right;
}
.post-img {
    max-width: 200px;
    max-height: 200px;
}
.div-post .post-header {
    display: inline-block;
}

.div text-draft {
    max-width: 200px;
} */